.position{
    position: fixed;
    width: 100%;
}


.navbar{
        display: flex;
        align-items: center ;
        justify-content: space-between;
        padding: 10px;
        margin:  0px 100px ;
    background:#0D0D0D;
}

.navbar a{
    text-decoration: none;
    color:#808080;
}

.logo{
   font-style: italic;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:20%;
    font-size: 20px;



}
.nav-connect{
    padding: 10px 20px;
    border-radius:5px;
    background: #0FF0FC;
    font-size: 20px ;
    cursor: pointer;
    transition: 0.5s;
    color: #0D0D0D;
    border: 1px solid;


}

.nav-connect a{
    text-decoration: none;
    color:#0D0D0D ;
}


.nav-connect:hover {
    transform: scale(1.05);


}

.nav-home{
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.nav-home:hover{
    transform: scale(1.05);
}

.nav-about{
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.nav-about:hover{
    transform: scale(1.05);
}


.nav-food{
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.nav-food:hover{
    transform: scale(1.05);
}

.nav-sports{
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.nav-sports:hover{
    transform: scale(1.05);
}